/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Đặt phông chữ và màu sắc chung */
body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background-color: #f0f2f5;
    color: #333;
    line-height: 1.6;
}

header {
    background-color: #4CAF50;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

header h1 {
    margin: 0;
    font-size: 2em;
}

main {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 20px;
}

.product-form, .product-list {
    background: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.product-form {
    flex: 1;
    max-width: 400px;
    margin-right: 20px;
}

.product-form h2 {
    margin-bottom: 20px;
    font-size: 1.5em;
    color: #4CAF50;
}

.product-form input {
    display: block;
    width: calc(100% - 20px);
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1em;
    transition: border-color 0.3s;
}

.product-form input:focus {
    border-color: #4CAF50;
    outline: none;
}

.product-form button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s;
}

.product-form button:hover {
    background-color: #45a049;
}

.product-list {
    flex: 2;
    max-width: 600px;
}

.product-list h2 {
    margin-bottom: 20px;
    font-size: 1.5em;
    color: #4CAF50;
}

.product-list ul {
    list-style-type: none;
    padding: 0;
}

.product-list li {
    background-color: #f9f9f9;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, box-shadow 0.3s;
}

.product-list li:hover {
    background-color: #f1f1f1;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.product-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.product-item h3, .product-item p {
    margin: 0;
}

.product-item h3 {
    font-size: 1.2em;
    color: #333;
}

.product-item p {
    font-size: 0.9em;
    color: #666;
}

.product-item button {
    margin-left: 10px;
    padding: 5px 10px;
    background-color: #ff4d4d;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 0.9em;
    cursor: pointer;
    transition: background-color 0.3s;
}

.product-item button:hover {
    background-color: #e04444;
}

#filer{
    height: 120px;
    width: 120px;
    padding: 10px;
}